<form enctype="multipart/form-data" method="post" action="/article/create">
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" name="description" class="form-control" id="description" rows="8" placeholder="Enter a description"></textarea>
  </div>
  <div class="form-group">
    <label for="image">File input</label>
    <input type="file" name="image" id="image">
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
